@model IEnumerable<UmTempoEmCasa.Models.Imovel>

@{
    ViewData["Title"] = "Index";
}

<div class="formulario">

    <h3 style="text-align: center; padding-top: 40px;">Lista de Imóvel</h3>

    <div class="container text-center p-4">
        <a style="color: white;" asp-controller="Anuncio" asp-action="Create" class="btn btn-outline-warning btnCriarAnuncio"><b>Criar Anúncio</b></a> 
    </div>
    
    <div class="table-responsive">
    <table class="table table-sucess table-striped" style="background-color: white; text-align: center;">
        <thead class="formulario">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Anfitrioes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Endereco)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cep)
                </th>
                <th>Alterar</th>
                <th>Detalhes</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Anfitrioes.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Endereco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cep)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ImovelID">Alterar</a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ImovelID">Detalhes</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.ImovelID">Excluir</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
    </div>
</div>