@model UmTempoEmCasa.Models.Reserva

@{
    ViewData["Title"] = "Details";
}

<div class="row formulario">
    <h3 style="text-align: center; ">Detalhes da ONG>Detalhes da Reserva</h3>

    <dl class="container" style="padding-top: 30px; padding-left: 40px;">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Refugiados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Refugiados.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anuncios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Anuncios.AnuncioID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFim)
        </dd>
    </dl>
    <div style="padding-top: 30px; padding-bottom: 30px; padding-left: 40px;">
        <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model?.ReservaID">Alterar</a> |
        <a class="btn btn-warning" asp-action="Index">Voltar para a Lista</a>
    </div>
</div>
