@model IEnumerable<UmTempoEmCasa.Models.Reserva>

@{
    ViewData["Title"] = "Index";
}

<div class="formulario">

    <h3 style="text-align: center; padding-top: 40px;">Lista de Reservas</h3>

    <p class="container" style="padding-left= 20px">
        <a style="color: white;" asp-action="Create"><u>Adicionar nova Reserva</u></a>
    </p>

    <div class="table-responsive">
    <table class="table table-sucess table-striped" style="background-color: white; text-align: center;">
        <thead class="formulario">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Refugiados)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Anuncios)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataFim)
                </th>
                <th>Alterar</th>
                <th>Detalhes</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Refugiados.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Anuncios.AnuncioID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataFim)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ReservaID">Alterar</a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ReservaID">Detalhes</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.ReservaID">Excluir</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
    </div>
</div>