@model UmTempoEmCasa.Models.Anfitriao

@{
    ViewData["Title"] = "Delete";
}

<div class="container formulario">
    
    <h3 style="text-align: center;">Deseja realmente exluir?</h3>
  
    <div class="container" style="padding-top: 30px; padding-left: 40px;">
        
        <label class = "col-sm-2"><b>Nome :</b></label>
        <br />
        <label class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </label>
        <br /><br />
        
        <label class = "col-sm-2"><b>Tipo :</b></label>
        <br />
        <label class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </label>
        <br /><br />
        
        <label class = "col-sm-2"><b>Nascimento</b></label>
        <br />
        <label class = "col-sm-10">
            @Html.DisplayFor(model => model.Nascimento)
        </label>
        <br /><br />

        <label class = "col-sm-2"><b>Telefone :</b></label>
        <br />
        <label class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </label>
        <br /><br />

        <label class = "col-sm-2"><b>Email :</b></label>
        <br />
        <label class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </label>
        <br /><br />

        <label class = "col-sm-2"><b>Endereco: </b></label>
        <br />
        <label class = "col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </label>
        <br /><br />
        
        <label class = "col-sm-2"><b>Cidade :</b></label>
        <br />
        <label class = "col-sm-10">
            @Html.DisplayFor(model => model.Cidade)
        </label>
        <br /><br />

        <label class = "col-sm-2"><b>CEP :</b></label>
        <br />
        <label class = "col-sm-10">
            @Html.DisplayFor(model => model.CEP)
        </label>
        <br /><br />

        <label class = "col-sm-2"><b>CPF :</b></label>
        <br />
        <label class = "col-sm-10">
            @Html.DisplayFor(model => model.CPF)
        </label>
        <br /><br />

        <label class = "col-sm-2"><b>CNPJ :</b></label>
        <br />
        <label class = "col-sm-10">
            @Html.DisplayFor(model => model.CNPJ)
        </label>
        <br /><br />

        <label class = "col-sm-2"><b>Senha :</b></label>
        <br />
        <label class = "col-sm-10">
            @Html.DisplayFor(model => model.Senha)
        </label>

    </div>
        <div style="padding-top: 30px; padding-bottom: 30px; padding-left: 40px;">
            <form asp-action="Delete">
                <input type="hidden" asp-for="AnfitriaoID" />
                <input type="submit" value="Excluir" class="btn btn-danger" /> 
                <input type="submit" class="btn btn-warning" value="Voltar para a Lista" asp-action="Index">
            </form>
        </div>
 </div>
